.option{
    display: flex;
    justify-content: space-between;
 padding: 1rem 2rem;
 border-bottom: .3rem solid lighten($light-blue, 10%);
}

.text{
    color:white;
font-size: 2rem;
font-weight: 700;
}