.widget-header{
background: $blue;
color:$off-white;
padding : 1.6rem;
display:flex;
justify-content: space-between;
}

.title{
margin: 0;
}

.widget{
    background: $light-blue;
}
.ab{
    color:$off-white;
    padding :3.2rem;
   text-align: center;
    border-bottom: .3rem solid darken($light-blue, 10%);
}